:root {
  --green:#edf7f6;
  --white: #FFFFFF;
  --black: #000000;
}
*{
  text-decoration: none;
}
.navbar{
  display: flex; 
  flex-direction: column; 
  justify-content:space-between;
  background: rgb(134, 146, 118); 
  font-family: calibri; 
  padding-right: 15px; 
  padding-left: 25px;
  margin-left: -8px;
  margin-right: -8px;
  margin-top: -7px;
}
.navbar a{
  font-size: 35px; 
  font-weight: 600; 
  color: whitesmoke;
  text-align: center;
}
body {
  background: var(--bg);
  color: var(--fontColor);
  font-family: helvetica;
  display: flex;
  flex-direction: column;
  min-height: 50vh;
}
.navbar ul{
  display: flex;
  flex-direction: row;
}
.btn {
  position: absolute;
  top: 4px;
  right: 15px;
  height: 35px;
  width: 30px;
  border-radius: 50%;
  border: none;
  color: var(--btnFontColor);
  background-color: var(--btnBg);
  cursor: pointer;
}
.light-theme {
  --bg: var(--green);
  --fontColor: var(--black);
  --btnBg: var(--black);
  --btnFontColor: var(--white);
}
.dark-theme {
  --bg: var(--black);
  --fontColor: var(--white);
  --btnBg: var(--white);
  --btnFontColor: var(--black);
}
h1{
  text-align: center;
  text-decoration: underline;
}
.MC ul{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.MC li{
  display:flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  padding: 10px;
}
.MC ul li{
  display:flex;
  flex-direction: column;
  justify-content: center;
}
.MC li a{
  font-size: 20px; 
  font-weight: bold; 
  margin-right: 40px;
  color:var(--fontColor);
}
footer{
  background-color:rgb(99, 89, 89);
  box-sizing: border-box;
  width:100%;
  height: 50px;
  margin-top: 220px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.footerBottom{
  display: flex;
  flex-direction:row;
  justify-content: center;
  color: white;
  padding: 0px;
}
.footerBottom a{
  text-decoration: none ;
  padding: 10px;
  margin-right:30px;
  background-color: white;
  border-radius: 50%;
}
.footerBottom a i{
  font-size: 1.5em;
  color: black;
  opacity: 0.9;
}
.footerBottom a:hover{
  background-color: #111;
  transition: 0.5s;
}
.footerBottom a:hover i{
  color: white;
  transition: 0.5s;
}
.designer{
  opacity: 0.7;
  text-transform: none;
  letter-spacing: 1px;
  color: rgb(30, 255, 0);
  font-weight: 400;
  margin: 0px 5px;
}
@media (max-width: 700px)
{
  footer{
    margin-top: 220px;
  }
  /* .footerBottom ul{
    flex-direction: column;
  }
  .footerBottom ul li{
    width: 100%;
    text-align: center;
    margin: 10px;
  } */
}